:root{
    --bg-color: #0b0b34;
    --head-color: #222251;
    --adv-color-1: #6060a8;
    --adv-color-2: #ac8ca5;
    --text-color-main: #f4f4f4;
    --header-height: 30px;
    --border-radius: 5px;
}

.error-node{background: red; color: black;
    font-family: monospace; font-size: 18px; font-weight: bold;
    border-radius: var(--border-radius); padding: 10px;
}

body{background: var(--bg-color); color: var(--text-color-main); 
    font-family: monospace;}

table{background: var(--adv-color-1); color: var(--text-color-main); 
    width: 100%;
    border: solid var(--bg-color) 2px; border-radius: var(--border-radius); padding: 5px;}
td, th{padding: 10px;}

li{padding: 10px;}

.space{padding: 10px;}

.header{background: var(--head-color); 
    font-size: 18px; font-weight: bold; text-align: center; 
    border-radius: var(--border-radius); padding: 10px;
    height: var(--header-height);}

.link-text{color: var(--text-color-main); font-weight: bold;}

.menu-button{ background: var(--adv-color-1); color: var(--text-color-main); 
    font-family: monospace; font-size: 38px; text-align: center; 
    border: none; border-radius: var(--border-radius);  border-bottom-left-radius: 0px;
    width: 50px; height: 50px;}

.side-menu-block{height: 0px; position: relative;}

.menu-hidden{background: var(--adv-color-1); color: var(--text-color-main);
    padding: 10px;
    width: 100%;
    position: relative; left: -150%; bottom: 0px;
    opacity: 0; transition: 1s;}
.menu-visible{background: var(--adv-color-1); color: var(--text-color-main);
    box-shadow: 0 0 100px rgba(0, 0, 0, 1); padding: 10px;
    width: 100%;
    position: relative; left: 0%; bottom: -50px;
    opacity: 1; transition: 1s;}

.block{background: var(--head-color); 
    font-size: 16px; 
    border-radius: var(--border-radius); padding: 10px;}

.calendar{background: var(--adv-color-1); color: var(--text-color-main);
    font-size: 16px; font-weight: bold; 
    border-radius: var(--border-radius); border: none; padding: 10px;
}

.load-button{background: var(--adv-color-1); color: var(--text-color-main);
    font-size: 16px; font-weight: bold; text-align: center; padding: 10px;
    border-radius: var(--border-radius); border: none;
}

select{background: var(--adv-color-1); color: var(--text-color-main);
    font-size: 16px; font-weight: bold; text-align: center; padding: 10px;
    border-radius: var(--border-radius); border: none;
}

.image{width: 100%;}